[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "ranked_choice_assigner"
version = "0.0.11"
authors = [{ name = "Rafay Khan" }]
maintainers = [{ name = "Rafay Khan" }]
description = "An algorithm/automation program for assigning people to (simultaneous) events based on ranked preferences."
readme = "README.md"
requires-python = ">=3.10"
dependencies = ["pyyaml", "pandas"]

[project.optional-dependencies]
development = ["black", "ruff", "pytype"]

[tool.ruff]
# Adjust line-length to match black formatter
line-length = 88
select = [
    "A",   # flake8-builtins
    "BLE", # flake8-blind-except
    "C4",  # flake8-comprehensions
    "C90", # mccabe
    "COM", # flake8-commas
    "E",   # pycodestyle
    "EM",  # flake8-errmsg
    "W",   # pycodestyle
    "F",   # pyflakes
    "FBT", # flake8-boolean-trap
    "B",   # flake8-bugbear
    "UP",  # pyupgrade
    "D",   # pydocstyle
    "ANN", # flake8-annotations
    "Q",   # flake8-quotes
    "RET", # flake8-return
    "I",   # isort
    "N",   # pep8-naming
]
include = ["*.py", "*.ipynb", "**/pyproject.toml"]
ignore = ["ANN101", "COM819"]

[tool.ruff.pydocstyle]
convention = "google"

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]
